
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: Ubuntu;
    padding: 0;
    margin: 0;

}

#content {
    max-width: 1600px;
    background-color: beige;
    margin: 0 auto;
}

/*Menu*/

/*nav {
    /*background-color: lightblue;*/
/*}*/

a{
    background-color: lightblue;
    color: rgb(71,68,69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

a:hover {
    background-color: darkgray;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    display: block;
    border: 3px solid lightblue;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
}

h1 {
    font-size: 3em;
    text-align: center;
}

p {
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

footer {
    background-color: lightblue;
    color: rgb(71,68,69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

footer p {
    text-align: center;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}   
/*Main*/
