.home-grid {
    display: grid;
    grid-template-columns:  repeat(10, 1fr);
    padding-bottom: 70px;
}

#hero {

    padding-left: 150px;
    padding-right: 150px;
}

.home-title {

    font-size: 2em;
    margin-top: 10px;

}

.home-text-card {
    padding-top: 25%;
    grid-column: 4/8;
    text-align: justify;
    padding-left: 30px;
}

.home-img-card {
    padding-left: 5%;
    padding-right: 40px;
    width: 100%;
}

.logo {
    padding-left: 30px;
    width: 150px;
}

main section img {
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-around;
}

.msg p {
    padding-bottom: 15px;
    font-size: .8em;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

nav a {

    text-align: center;
    color: #F6F7EB;
    text-decoration: none;
    padding: 35px;
    padding-top: 70px;

}

nav a:hover {

    background-color:#396E94;
    color: #F6F7EB;

}


#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 100px;
}

#hero-msg h1, h4 {
    color: white;
    justify-self: auto;
} 


#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    justify-content: center;
}

#event {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: .5fr .5fr; */
}

#event-msg {
    grid-column: 2/3;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-self: center;
}


#event-box {
    grid-column: 1/4;
    grid-row: 2/4;
    z-index: -1;
    margin: 0 auto;
}

#event-img-1 {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    align-self: center;
}

.event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#calender {
    grid-column: 2/3;
    justify-self: center;
}

#hero-box {   
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    padding-top: 70px;
    padding-bottom: 70px;
    
}

#hero-img {
    width: 100%;
    justify-self: auto;
    margin: 0 auto;
}


main section {

    text-align: center;

}

#backgound {

    grid-column: 1/11;
    grid-row: 4/9;

}

body {

    background-color: #fcfbfb; 
    font-size: 22px;
    margin: 0;
    padding: 0;

}

h3 {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#000000;

}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer {
    background-color: #000000;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}
        
footer p {
    font-size: 1.2em;
    color: #F6F7EB;
}   

footer p a:hover {
    text-decoration: underline;
}    

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.card-img, .Bouqe {
    width: 100%;
}


.social img {
    max-width: 70px;
    padding: 10px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        align-content: center;
        margin-top: 0;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    .Bouqe, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}